<div class="post-wrapper">
  <h2>{{title}}</h2>
  <p>{{contents}}</p>
  <h4>Posted by {{user.name}} on {{format_date post.createdAt}}</h4>
  <div class="post-contents">
    <p>
      {{post.contents}}
    </p>
  </div>
</div>
